@model List<Product>
@{
    ViewData["Title"] = "Index";
}

<h2>Index Page</h2>
<a href="/Product/Craete">Crete new</a>
<ul>
    <li><input type="checkbox" id="check-all"/></li>
    @foreach (var product in Model)
    {
        <li>
            <div>
                <span><input type="checkbox" class="check-item" id="check-id-@product.id"/></span>
                <span>@product.name - @product.price</span>
                <a href="/Product/Edit?id=@product.id">Edit</a>
                <a href="#" class="btn_delete" id="@product.id">Delete</a>
            </div>
            
        </li>
    }
</ul>
<button id="delete-all">Delete All</button>
<script>
    var listBtnDelete = document.getElementsByClassName("btn_delete");
    for (var i = 0; i < listBtnDelete.length; i++) {
        listBtnDelete[i].onclick = function (){
            if (confirm("Are you sure ?")) {
                var deletedId = this.id;
                var currentDeleteButton = this;
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.onreadystatechange = function() {
                    if (this.readyState === 4 && this.status ===200) {
                        currentDeleteButton.parentElement.remove();
                        alert("Delete success");
                    }
                }
                xmlHttp.open("DELETE", "/Product/Delete?id="+ deletedId, true);
                xmlHttp.send();
            }
        }
    }
    var checkAll = document.getElementById("check-all");
    var listCheckbox = document.getElementsByClassName("check-item");
    checkAll.onclick = function () {
        for (var i = 0; i < listCheckbox.length; i++) {
            listCheckbox[i].checked = this.checked;
        }
    }
    var deleteAll = document.getElementById("delete-all");
    deleteAll.onclick = function () {
        var checkedItems = document.querySelectorAll(".check-item:checked");
        var deleteIds = new Array();
        for (var i = 0; i < checkedItems.length; i++) {
            deleteIds.push(checkedItems[i].id.replace("check-id-", ""));
        }
        console.log(deleteIds);
        if (deleteIds.length === 0) {
            alert("Please choose an option");
            return;
        }
        var xmlHttpRequest = new XMLHttpRequest();
        xmlHttpRequest.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                alert("Delete success");
            }
        }
        xmlHttpRequest.open("DELETE", "/Product/DeleteMulti?ids=" + deleteIds, true);
        xmlHttpRequest.send();
    }
    
                    

    
</script>
